In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
from itertools import chain
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import time
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.keys import Keys
import numpy as np
import re
from numpy import random
from datetime import date
import sqlalchemy as sa

In [140]:
#codes=pd.read_excel("C:/Users/homa/Python-Notbook/TradeMap/Product Code.xlsx",converters={'HS Code':str})

In [2]:
codes=pd.read_excel("C:/Users/homa/Python-Notbook/TradeMap/CODES.xlsx")


if len (codes['HS Code'])>6:
   codes['HS Code'] = codes['HS Code'].astype(str)
   codes['HS Code6']="'" + codes['HS Code'].str[:6]

else:
   codes['HS Code'] = codes['HS Code'].astype(str)
   codes['HS Code6']="'" +codes['HS Code']



Product_Code=codes.drop_duplicates(subset=['HS Code6'])

In [4]:
Product_Code.head(20)

,HS Code,Product,factory,E_group,p_group,HS Code6
0,16041400,کنسرو تن ماهی,cahshni,Tunas,تن ماهی,'160414
1,17041000,آدامس شیک,pars minoo,Chewing gum,آدامس,'170410
2,17049000,شکلات قهوه,pars minoo,Sugar confectionery other than chewing gum,شیرینی غیر از آدامس,'170490
5,18069000,شکلات میکا,choco pars,Chocolate & other food preparations containing...,شکلات,'180690
6,19041000,اسنک نمکی مینوشا,sanati minoo,Prepared foods obt. by the swelling/roasting o...,اسنک,'190410
7,19053100,بیسکوئیت,minoo shargh,Sweet biscuits,بیسکوئیت,'190531
9,19053200,ویفر شکلاتی نانو,sanati minoo,Waffles & wafers,ویفر,'190532
10,19059090,کیک مغزدار,sanati minoo,"Bread, pastry, cakes, biscuits & other bakers'...",کیک,'190590
11,20011000,خیار شور,cahshni,"Cucumbers & gherkins, prepared by vinegar",خیارشور,'200110
12,20019000,ترشی لیمو,chashni,"Vegetables, fruit, nuts by vinegar",ترشی,'200190
13,20029010,رب گوجه فرنگی,chashni,Tomatoes othw. than by vinegar in pieces,رب گوجه,'200290
14,20049000,کنسرو لوبیا,chashni,Vegetables & mixtures of vegetables othw. than...,کنسرو سبزیجات,'200490
15,20060000,انواع کمپوت,cahshni,"Vegetables, fruit, nuts, fruit-peel & by sugar",کمپوت,'200600
16,20071090,رب انار,cahshni,"Homogenised preparations of fruits/nuts, obt. ...",میوه و آجیل هموژنیزه,'200710
18,20089900,عسل خرما,minoo fars,"Edible parts of plants, not containing added s...",گیاهان قندی جز شکر,'200899
19,21069090,دسر فوری,choco pars,Food preparations,مواد غذای نیمه آماده,'210690
20,22021000,نوشابه گازدار لیموناد,zagros,"Waters, incl. mineral waters & aerated waters,...",آب گازدار,'220210
21,04090000,عسل,cahshni,Natural honey,عسل,'040900
22,07102100,کنسرو نخود فرنگی,chashni,Peas,کنسرو نخود,'071021
23,07112000,زیتون سبز,chashni,"Olives, provisionally preserved",زیتون,'071120

In [3]:
Product_Code['HS Code6']

0     '160414
1     '170410
2     '170490
5     '180690
6     '190410
7     '190531
9     '190532
10    '190590
11    '200110
12    '200190
13    '200290
14    '200490
15    '200600
16    '200710
18    '200899
19    '210690
20    '220210
21    '040900
22    '071021
23    '071120
31    '200599
Name: HS Code6, dtype: object

In [4]:
Product_Code.rename(columns= {'HS Code6':'ProductCode'}, inplace= True)

Product_Code=Product_Code.reset_index(drop=True)

C:\Users\homa\AppData\Local\Temp\ipykernel_21184\2574148061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Product_Code.rename(columns= {'HS Code6':'ProductCode'}, inplace= True)

In [66]:
driver= webdriver.Chrome()
driver.get("https://www.trademap.org")
#driver.maximize_window()
waits= WebDriverWait(driver, 30)

Error sending stats to Plausible: error sending request for url (https://plausible.io/api/event)

In [69]:
def login():
    try:
        
        logintext=driver.find_element(By.CSS_SELECTOR ,("#ctl00_MenuControl_Label_Login"))
        if logintext.text=='Login': 
                
            login=waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_MenuControl_Label_Login')))
            login.click()
            url= driver.current_url
            if url!='https://www.trademap.org/Index.aspx': 
                getemail= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#Username')))
                getemail.send_keys('homa.abedinzadeh@gmail.com')
                #time.sleep(random.randint(5,20))
                getpassword= waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#Password')))
                getpassword.send_keys('Aa@97019701')
                #time.sleep(random.randint(5,20))
                waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR,'body > div.container > div > div:nth-child(2) > div > div > div > form > fieldset > div:nth-child(4) > div > button'))).click()
            
         
    except Exception as e:
                print(f"Error selecting option : {e}")

In [70]:
def delete():
    waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Image_deleteProduct'))).click()
    waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Image_DeleteCountry'))).click()

In [73]:



if ('yf' in locals() or 'yf' in globals()) and len(yf)>1:
    
    yf= yf[yf['productcode'] !=  yf['productcode'].iloc[-1]]
    Product_Code=Product_Code.iloc[len (yf['productcode'].unique()):]
else: 
    yf = pd.DataFrame()
    temp = pd.DataFrame()


for kind in range(2):
    kind+=1
    if kind==1:
        time.sleep(random.randint(5,8))
        waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_label_RadioButton_TradeType_Import'))).click()
    for i in range(len(Product_Code)):
        
        login()
        if kind==1:
           waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_label_RadioButton_TradeType_Import'))).click()  

        time.sleep(random.randint(10,15))
        delete()
        time.sleep(random.randint(4,7))
        inputproduct = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_Input')))
        inputproduct.send_keys(Product_Code['ProductCode'].iloc[i])
        time.sleep(random.randint(5,8))
        proclick = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_c0'))).click()
        time.sleep(random.randint(6,9))
        element = driver.find_element(By.CSS_SELECTOR, '#ctl00_PageContent_Button_TimeSeries')
        if (element.is_enabled()):
            btn = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Button_TimeSeries'))).click()
            
            logintext=driver.find_element(By.CSS_SELECTOR ,("#ctl00_MenuControl_Label_Login"))
            if logintext.text=='Login':  
                login()
                if kind==1:
                    waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_label_RadioButton_TradeType_Import'))).click()  


            dropdown_element = waits.until(EC.visibility_of_element_located((By.ID, 'ctl00_NavigationControl_DropDownList_Country')))  # Replace with actual ID     
            select = Select(dropdown_element)
            options = select.options
            j=0
            while True:  
                print(j)
                try:
                    
                    dropdown_element = waits.until(EC.visibility_of_element_located((By.ID, 'ctl00_NavigationControl_DropDownList_Country')))
                    select = Select(dropdown_element)
                    options = select.options
                    option_text = options[j].text
                    
                    if  (option_text != 'All') and ('not elsewhere specified' not in option_text):
                        select.select_by_visible_text(option_text)
                        time.sleep(random.randint(2,3))
                        # تغییر تعداد رکوردها به 300
                        incshow = waits.until(EC.element_to_be_clickable((By.XPATH, "//select[@id='ctl00_PageContent_GridViewPanelControl_DropDownList_PageSize']")))
                        
                        drop = Select(incshow)
                        
                        time.sleep(random.randint(2,3))
                        drop.select_by_value('300')

                        

                    
                    # استخراج جدول
                        all_tables = pd.read_html(driver.page_source, attrs={'id': 'ctl00_PageContent_MyGridView1'})
                        temp = all_tables[0]

                        if temp.shape[0] != 1:
                            temp = temp.iloc[1:, 1:]
                            #new_header = temp.iloc[0]
                            #temp = temp[1:]
                            #temp.columns = new_header

                            # افزودن اطلاعات کشور و کد محصول
                            temp['Source'] = option_text
                            temp['productcode'] = re.sub(r'[^\w]', '', Product_Code['ProductCode'].iloc[i])
                           # temp['Year']=int (temp.columns[4][-4:])
                            temp['kind']=kind   #0== import , 1==export
                            
                            temp['insertdate']=date.today()

                            # تغییر نام ستون‌ها
                            #average = temp.columns[15]
                            #sharein = temp.columns[3]
                            #temp.rename (columns={temp.columns[0]:'Destination',temp.columns[1]:'Value_imported' , temp.columns[2]:'Trade_balance',temp.columns[4]:'Quantity_imported',temp.columns[7]:'Growth5y_in_imported_value%'
                            #,temp.columns[8]:'Growth5y_in_imported_quantity%', temp.columns[9]:'Growth1y_in_imported_value%' , temp.columns[10]:'Export_partners_ranking', temp.columns[11]:'Export_share%',
                            #    temp.columns[12]:' Partner_export_growth5y%', temp.columns[13]:'Average_distance',  temp.columns[14]:'Concentration',average: 'Average tariff%', sharein: 'ShareinCounryImports' }, inplace=True)

                            if temp.columns[2][-4:]=="2020": 
                                yf = pd.concat([yf, temp], axis=0)
                                temp = pd.DataFrame()
                            else:                         
                            # افزودن به DataFrame اصلی
                               temp = pd.DataFrame()
                            #yf.drop(yf[yf['Destination'] == 'Total'].index, inplace=True)
                           # yf.drop(yf[yf['Destination'] == 'World'].index, inplace=True)
                            print(f"Selected option: {option_text}, {j}")
                        time.sleep(random.randint(1,3))
                    if (j+1)%10 ==0:
                            #driver.quit()
                            #driver= webdriver.Chrome()
                            waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_MenuControl_Label_Menu_Home'))).click()
                            time.sleep(random.randint(5,8))
                            login()
                            if kind==1:
                                waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_label_RadioButton_TradeType_Import'))).click()  
                            delete()
                            time.sleep(random.randint(4,7))
                            inputproduct = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_Input')))
                            inputproduct.send_keys(Product_Code['ProductCode'].iloc[i])
                            time.sleep(random.randint(5,8))
                            proclick = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_c0'))).click()
                            time.sleep(random.randint(6,9))
                            btn = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Button_TimeSeries'))).click()
                            
                
                except Exception as e:
                    print(f"Error selecting option {j}: {e}")
                    site = driver.current_url
                    if site!= 'https://www.trademap.org/Index.aspx':
                        driver.get('https://www.trademap.org/Index.aspx')
                    login()
                    if kind==1:
                        waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_label_RadioButton_TradeType_Import'))).click()  
                    delete()
                    time.sleep(random.randint(4,7))
                    inputproduct = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_Input')))
                    inputproduct.send_keys(Product_Code['ProductCode'].iloc[i])
                    time.sleep(random.randint(5,8))
                    proclick = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_RadComboBox_Product_c0'))).click()
                    time.sleep(random.randint(6,9))
                    btn = waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_Button_TimeSeries'))).click()
                    if len (yf[(yf.Source==option_text) & (yf.productcode==re.sub(r'[^\w]', '', Product_Code['ProductCode'].iloc[i])) ])==0:
                        j-=1
                    
                    
                
                j+=1
                if j+1> len (options):
                    
                    print (f"Get All Country this product:{Product_Code['ProductCode'].iloc[i]}")
                    break
        waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_MenuControl_Label_Menu_Home'))).click()
        delete()
        time.sleep(30)
        #driver.refresh()
        
        driver.get('https://www.trademap.org/Index.aspx')
        i+=1
    print ('All Requests Import')
    driver.get('https://www.trademap.org/Index.aspx')
    kind+=1
print('All Requests Export')

0
1
2
3
Selected option: Albania, 3
4
Selected option: Algeria, 4
5
6
Selected option: American Samoa, 6
7
Selected option: Andorra, 7
8
Selected option: Angola, 8
9
10
Selected option: Antigua and Barbuda, 10
11
Selected option: Area Nes, 11
12
Selected option: Argentina, 12
13
Selected option: Armenia, 13
14
Selected option: Aruba, 14
15
16
Selected option: Australia, 16
17
Selected option: Austria, 17
18
Selected option: Azerbaijan, 18
19
Selected option: Bahamas, 19
20
Selected option: Bahrain, 20
21
Selected option: Bangladesh, 21
22
Selected option: Barbados, 22
23
Selected option: Belarus, 23
24
Selected option: Belgium, 24
25
Selected option: Belize, 25
26
Selected option: Benin, 26
27
Selected option: Bermuda, 27
28
Selected option: Bhutan, 28
29
Selected option: Bolivia, Plurinational State of, 29
30
Selected option: Bonaire, Sint Eustatius and Saba, 30
31
Selected option: Bosnia and Herzegovina, 31
32
Selected option: Botswana, 32
33
34
Selected option: Brazil, 34
35
36
Selected option: British Indian Ocean Territory, 36
37
Selected option: British Virgin Islands, 37
38
Selected option: Brunei Darussalam, 38
39
Selected option: Bulgaria, 39
40
Selected option: Burkina Faso, 40
41
Selected option: Burundi, 41
42
Selected option: Cabo Verde, 42
43
Selected option: Cambodia, 43
44
Selected option: Cameroon, 44
45
Selected option: Canada, 45
46
47
Selected option: Cayman Islands, 47
48
49
Selected option: Central African Republic, 49
50
Selected option: Chad, 50
51
Selected option: Chile, 51
52
Selected option: China, 52
53
Selected option: Christmas Island, 53
54
Selected option: Cocos (Keeling) Islands, 54
55
Selected option: Colombia, 55
56
Selected option: Comoros, 56
57
Selected option: Congo, 57
58
Selected option: Congo, Democratic Republic of the, 58
59
60
Selected option: Costa Rica, 60
61
Selected option: Côte d'Ivoire, 61
62
Selected option: Croatia, 62
63
Selected option: Cuba, 63
64
Selected option: Curaçao, 64
65
Selected option: Cyprus, 65
66
Selected option: Czech Republic, 66
67
Selected option: Denmark, 67
68
Selected option: Djibouti, 68
69
Selected option: Dominica, 69
Error selecting option 69: Message:

70
Selected option: Dominican Republic, 70
71
72
Selected option: Ecuador, 72
73
Selected option: Egypt, 73
74
Selected option: El Salvador, 74
75
Selected option: Equatorial Guinea, 75
76
77
Selected option: Estonia, 77
78
Selected option: Eswatini, 78
79
Selected option: Ethiopia, 79
80
81
Selected option: Europe Othr. Nes, 81
82
Selected option: European Union Nes, 82
83
Selected option: Falkland Islands (Malvinas), 83
84
Selected option: Faroe Islands, 84
85
Selected option: Fiji, 85
86
Selected option: Finland, 86
87
Selected option: France, 87
88
Selected option: Free Zones, 88
89
Selected option: French Polynesia, 89
90
Selected option: French Southern and Antarctic Territories, 90
91
Selected option: Gabon, 91
92
Selected option: Gambia, 92
93
Selected option: Georgia, 93
94
Selected option: Germany, 94
95
Selected option: Ghana, 95
96
Selected option: Gibraltar, 96
97
Selected option: Greece, 97
98
Selected option: Greenland, 98
99
Selected option: Grenada, 99
100
Selected option: Guam, 100
101
Selected option: Guatemala, 101
102
Selected option: Guinea, 102
103
Selected option: Guinea-Bissau, 103
104
Selected option: Guyana, 104
105
Selected option: Haiti, 105
106
Selected option: Honduras, 106
107
Selected option: Hong Kong, China, 107
108
Selected option: Hungary, 108
109
Selected option: Iceland, 109
110
Selected option: India, 110
111
Selected option: Indonesia, 111
112
113
114
Selected option: Ireland, 114
115
Selected option: Israel, 115
116
Selected option: Italy, 116
117
Selected option: Jamaica, 117
118
Selected option: Japan, 118
119
Selected option: Jordan, 119
120
Selected option: Kazakhstan, 120
121
Selected option: Kenya, 121
122
Selected option: Kiribati, 122
123
Selected option: Korea, Democratic People's Republic of, 123
124
Selected option: Korea, Republic of, 124
125
Selected option: Kuwait, 125
126
Selected option: Kyrgyzstan, 126
127
128
Selected option: Lao People's Democratic Republic, 128
129
Selected option: Latvia, 129
130
Selected option: Lebanon, 130
131
Selected option: Lesotho, 131
132
Selected option: Liberia, 132
133
Selected option: Libya, State of, 133
134
Selected option: Lithuania, 134
135
Selected option: Luxembourg, 135
136
Selected option: Macao, China, 136
137
Selected option: Macedonia, North, 137
138
Selected option: Madagascar, 138
139
Selected option: Malawi, 139
140
Selected option: Malaysia, 140
141
Selected option: Maldives, 141
142
Selected option: Mali, 142
143
Selected option: Malta, 143
144
Selected option: Marshall Islands, 144
145
Selected option: Mauritania, 145
146
Selected option: Mauritius, 146
147
Selected option: Mayotte, 147
148
Selected option: Mexico, 148
149
150
Selected option: Moldova, Republic of, 150
151
Selected option: Mongolia, 151
152
Selected option: Montenegro, 152
153
Selected option: Montserrat, 153
154
Selected option: Morocco, 154
155
Selected option: Mozambique, 155
156
Selected option: Myanmar, 156
157
Selected option: Namibia, 157
158
Selected option: Nauru, 158
159
Selected option: Nepal, 159
160
Selected option: Netherlands, 160
161
162
163
Selected option: New Caledonia, 163
164
Selected option: New Zealand, 164
165
Selected option: Nicaragua, 165
166
Selected option: Niger, 166
167
Selected option: Nigeria, 167
168
Selected option: Niue, 168
169
Selected option: Norfolk Island, 169
170
171
172
Selected option: Northern Mariana Islands, 172
173
Selected option: Norway, 173
174
Selected option: Oceania Nes, 174
175
Selected option: Oman, 175
176
Selected option: Pakistan, 176
177
Selected option: Palau, 177
178
Selected option: Palestine, State of, 178
179
Selected option: Panama, 179
180
Selected option: Papua New Guinea, 180
181
Selected option: Paraguay, 181
182
Selected option: Peru, 182
183
Selected option: Philippines, 183
184
185
Selected option: Poland, 185
186
Selected option: Portugal, 186
187
Selected option: Qatar, 187
188
Selected option: Romania, 188
189
Selected option: Russian Federation, 189
190
Selected option: Rwanda, 190
191
Selected option: Saint Helena, 191
192
Selected option: Saint Kitts and Nevis, 192
193
Selected option: Saint Lucia, 193
194
Selected option: Saint Pierre and Miquelon, 194
195
Selected option: Saint Vincent and the Grenadines, 195
196
Selected option: Samoa, 196
197
Selected option: Sao Tome and Principe, 197
198
Selected option: Saudi Arabia, 198
199
Selected option: Senegal, 199
200
Selected option: Serbia, 200
201
202
Selected option: Seychelles, 202
203
Selected option: Ship stores and bunkers, 203
204
Selected option: Sierra Leone, 204
205
Selected option: Singapore, 205
206
Selected option: Sint Maarten (Dutch part), 206
207
Selected option: Slovakia, 207
208
Selected option: Slovenia, 208
209
Selected option: Solomon Islands, 209
210
Selected option: Somalia, 210
211
Selected option: South Africa, 211
212
Selected option: South Sudan, 212
213
Selected option: Spain, 213
214
Selected option: Special categories, 214
215
Selected option: Sri Lanka, 215
216
Selected option: Sudan, 216
217
Selected option: Sudan (before 2012), 217
218
Selected option: Suriname, 218
219
Selected option: Sweden, 219
220
Selected option: Switzerland, 220
221
Selected option: Syrian Arab Republic, 221
222
Selected option: Taipei, Chinese, 222
223
Selected option: Tajikistan, 223
224
Selected option: Tanzania, United Republic of, 224
225
226
Selected option: Thailand, 226
227
Selected option: Timor-Leste, 227
228
Selected option: Togo, 228
229
Selected option: Tokelau, 229
230
Selected option: Tonga, 230
231
Selected option: Trinidad and Tobago, 231
232
Selected option: Tunisia, 232
233
Selected option: Türkiye, 233
234
Selected option: Turkmenistan, 234
235
Selected option: Turks and Caicos Islands, 235
236
237
Selected option: Uganda, 237
238
Selected option: Ukraine, 238
239
Selected option: United Arab Emirates, 239
240
Selected option: United Kingdom, 240
241
Selected option: United States Minor Outlying Islands, 241
242
Selected option: United States of America, 242
243
Selected option: Uruguay, 243
244
Selected option: Uzbekistan, 244
245
246
247
Selected option: Viet Nam, 247
248
Selected option: Wallis and Futuna Islands, 248
249
250
251
Selected option: Yemen, 251
252
Selected option: Zambia, 252
253
Selected option: Zimbabwe, 253
Get All Country this product:'200599
All Requests Import
0
1
2
3
Selected option: Albania, 3
4
Selected option: Algeria, 4
5
6
Selected option: American Samoa, 6
7
Selected option: Andorra, 7
8
Selected option: Angola, 8
9
10
Selected option: Antigua and Barbuda, 10
11
Selected option: Area Nes, 11
12
Selected option: Argentina, 12
13
Selected option: Armenia, 13
14
Selected option: Aruba, 14
15
16
Selected option: Australia, 16
17
Selected option: Austria, 17
18
Selected option: Azerbaijan, 18
19
Selected option: Bahamas, 19
20
Selected option: Bahrain, 20
21
Selected option: Bangladesh, 21
22
Selected option: Barbados, 22
23
Selected option: Belarus, 23
24
Selected option: Belgium, 24
25
Selected option: Belize, 25
26
Selected option: Benin, 26
27
Selected option: Bermuda, 27
28
Selected option: Bhutan, 28
29
Selected option: Bolivia, Plurinational State of, 29
30
Selected option: Bonaire, Sint Eustatius and Saba, 30
31
Selected option: Bosnia and Herzegovina, 31
32
Selected option: Botswana, 32
33
34
Selected option: Brazil, 34
35
36
Selected option: British Indian Ocean Territory, 36
37
Selected option: British Virgin Islands, 37
38
Selected option: Brunei Darussalam, 38
39
Selected option: Bulgaria, 39
40
Selected option: Burkina Faso, 40
41
Selected option: Burundi, 41
42
Selected option: Cabo Verde, 42
43
Selected option: Cambodia, 43
44
Selected option: Cameroon, 44
45
Selected option: Canada, 45
46
47
Selected option: Cayman Islands, 47
48
49
Selected option: Central African Republic, 49
50
Selected option: Chad, 50
51
Selected option: Chile, 51
52
Selected option: China, 52
53
Selected option: Christmas Island, 53
54
Selected option: Cocos (Keeling) Islands, 54
55
Selected option: Colombia, 55
56
Selected option: Comoros, 56
57
Selected option: Congo, 57
58
Selected option: Congo, Democratic Republic of the, 58
59
60
Selected option: Costa Rica, 60
61
Selected option: Côte d'Ivoire, 61
62
Selected option: Croatia, 62
63
Selected option: Cuba, 63
64
Selected option: Curaçao, 64
65
Selected option: Cyprus, 65
66
Selected option: Czech Republic, 66
67
Selected option: Denmark, 67
68
Selected option: Djibouti, 68
69
Selected option: Dominica, 69
70
Selected option: Dominican Republic, 70
71
72
Selected option: Ecuador, 72
73
Selected option: Egypt, 73
74
Selected option: El Salvador, 74
75
Selected option: Equatorial Guinea, 75
76
77
Selected option: Estonia, 77
78
Selected option: Eswatini, 78
79
Selected option: Ethiopia, 79
80
81
Selected option: Europe Othr. Nes, 81
82
Selected option: European Union Nes, 82
83
Selected option: Falkland Islands (Malvinas), 83
84
Selected option: Faroe Islands, 84
85
Selected option: Fiji, 85
86
Selected option: Finland, 86
87
Selected option: France, 87
88
Selected option: Free Zones, 88
89
Selected option: French Polynesia, 89
90
Selected option: French Southern and Antarctic Territories, 90
91
Selected option: Gabon, 91
92
Selected option: Gambia, 92
93
Selected option: Georgia, 93
94
Selected option: Germany, 94
95
Selected option: Ghana, 95
96
Selected option: Gibraltar, 96
97
Selected option: Greece, 97
98
Selected option: Greenland, 98
99
Selected option: Grenada, 99
100
Selected option: Guam, 100
101
Selected option: Guatemala, 101
102
Selected option: Guinea, 102
103
Selected option: Guinea-Bissau, 103
104
Selected option: Guyana, 104
105
Selected option: Haiti, 105
106
Selected option: Honduras, 106
107
Selected option: Hong Kong, China, 107
108
Selected option: Hungary, 108
109
Selected option: Iceland, 109
110
Selected option: India, 110
111
Selected option: Indonesia, 111
112
113
114
Selected option: Ireland, 114
115
Selected option: Israel, 115
116
Selected option: Italy, 116
117
Selected option: Jamaica, 117
118
Selected option: Japan, 118
119
Selected option: Jordan, 119
120
Selected option: Kazakhstan, 120
121
Selected option: Kenya, 121
122
Selected option: Kiribati, 122
123
Selected option: Korea, Democratic People's Republic of, 123
124
Selected option: Korea, Republic of, 124
125
Selected option: Kuwait, 125
126
Selected option: Kyrgyzstan, 126
127
128
Selected option: Lao People's Democratic Republic, 128
129
Selected option: Latvia, 129
130
Selected option: Lebanon, 130
131
Selected option: Lesotho, 131
132
Selected option: Liberia, 132
133
Selected option: Libya, State of, 133
134
Selected option: Lithuania, 134
135
Selected option: Luxembourg, 135
136
Selected option: Macao, China, 136
137
Selected option: Macedonia, North, 137
138
Selected option: Madagascar, 138
139
Selected option: Malawi, 139
140
Selected option: Malaysia, 140
141
Selected option: Maldives, 141
142
Selected option: Mali, 142
143
Selected option: Malta, 143
144
Selected option: Marshall Islands, 144
145
Selected option: Mauritania, 145
146
Selected option: Mauritius, 146
147
Selected option: Mayotte, 147
148
Selected option: Mexico, 148
149
150
Selected option: Moldova, Republic of, 150
151
Selected option: Mongolia, 151
152
Selected option: Montenegro, 152
153
Selected option: Montserrat, 153
154
Selected option: Morocco, 154
155
Selected option: Mozambique, 155
156
Selected option: Myanmar, 156
157
Selected option: Namibia, 157
158
Selected option: Nauru, 158
159
Selected option: Nepal, 159
160
Selected option: Netherlands, 160
161
162
163
Selected option: New Caledonia, 163
164
Selected option: New Zealand, 164
165
Selected option: Nicaragua, 165
166
Selected option: Niger, 166
167
Selected option: Nigeria, 167
168
Selected option: Niue, 168
169
Selected option: Norfolk Island, 169
170
171
172
Selected option: Northern Mariana Islands, 172
173
Selected option: Norway, 173
174
Selected option: Oceania Nes, 174
175
Selected option: Oman, 175
176
Selected option: Pakistan, 176
177
Selected option: Palau, 177
178
Selected option: Palestine, State of, 178
179
Selected option: Panama, 179
180
Selected option: Papua New Guinea, 180
181
Selected option: Paraguay, 181
182
Selected option: Peru, 182
183
Selected option: Philippines, 183
184
185
Selected option: Poland, 185
186
Selected option: Portugal, 186
187
Selected option: Qatar, 187
188
Selected option: Romania, 188
189
Selected option: Russian Federation, 189
190
Selected option: Rwanda, 190
191
Selected option: Saint Helena, 191
192
Selected option: Saint Kitts and Nevis, 192
193
Selected option: Saint Lucia, 193
194
Selected option: Saint Pierre and Miquelon, 194
195
Selected option: Saint Vincent and the Grenadines, 195
196
Selected option: Samoa, 196
197
Selected option: Sao Tome and Principe, 197
198
Selected option: Saudi Arabia, 198
199
Selected option: Senegal, 199
200
Selected option: Serbia, 200
201
202
Selected option: Seychelles, 202
203
Selected option: Ship stores and bunkers, 203
204
Selected option: Sierra Leone, 204
205
Selected option: Singapore, 205
206
Selected option: Sint Maarten (Dutch part), 206
207
Selected option: Slovakia, 207
208
Selected option: Slovenia, 208
209
Selected option: Solomon Islands, 209
210
Selected option: Somalia, 210
211
Selected option: South Africa, 211
212
Selected option: South Sudan, 212
213
Selected option: Spain, 213
214
Selected option: Special categories, 214
215
Selected option: Sri Lanka, 215
216
Selected option: Sudan, 216
217
Selected option: Sudan (before 2012), 217
218
Selected option: Suriname, 218
219
Selected option: Sweden, 219
220
Selected option: Switzerland, 220
221
Selected option: Syrian Arab Republic, 221
222
Selected option: Taipei, Chinese, 222
223
Selected option: Tajikistan, 223
224
Selected option: Tanzania, United Republic of, 224
225
226
Selected option: Thailand, 226
227
Selected option: Timor-Leste, 227
228
Selected option: Togo, 228
229
Selected option: Tokelau, 229
230
Selected option: Tonga, 230
231
Selected option: Trinidad and Tobago, 231
232
Selected option: Tunisia, 232
233
Selected option: Türkiye, 233
234
Selected option: Turkmenistan, 234
235
Selected option: Turks and Caicos Islands, 235
236
237
Selected option: Uganda, 237
238
Selected option: Ukraine, 238
239
Selected option: United Arab Emirates, 239
240
Selected option: United Kingdom, 240
241
Selected option: United States Minor Outlying Islands, 241
242
Selected option: United States of America, 242
243
Selected option: Uruguay, 243
244
Selected option: Uzbekistan, 244
245
246
247
Selected option: Viet Nam, 247
248
Selected option: Wallis and Futuna Islands, 248
249
250
251
Selected option: Yemen, 251
252
Selected option: Zambia, 252
253
Selected option: Zimbabwe, 253
Get All Country this product:'200599
All Requests Import
All Requests Export

In [74]:
yf.tail()

,Exporters,Imported value in 2019,Imported value in 2020,Imported value in 2021,Imported value in 2022,Imported value in 2023,Source,productcode,kind,insertdate
19,Peru,0.0,0.0,NaN,6.0,NaN,Viet Nam,200599,2,2025-07-07
20,Poland,0.0,0.0,NaN,1.0,NaN,Viet Nam,200599,2,2025-07-07
21,Romania,17.0,9.0,NaN,NaN,NaN,Viet Nam,200599,2,2025-07-07
22,South Africa,0.0,0.0,NaN,1.0,NaN,Viet Nam,200599,2,2025-07-07
23,United States of America,7.0,1.0,420.0,NaN,NaN,Viet Nam,200599,2,2025-07-07

In [58]:
temp.columns[4][-6:]

'Source'

In [60]:
yf.head()

,Exporters,Imported value in 2019,Imported value in 2020,Imported value in 2021,Imported value in 2022,Imported value in 2023,Source,productcode,Year,kind,insertdate
1,Spain,1881,1794,1794.0,1964.0,1939.0,Andorra,160414,2022,1,2025-07-05
2,Portugal,13,2,3.0,2.0,4.0,Andorra,160414,2022,1,2025-07-05
3,Egypt,0,0,NaN,1.0,NaN,Andorra,160414,2022,1,2025-07-05

In [59]:
temp.columns

Index(['Exporters', 'Imported value in 2001', 'Imported value in 2002',
       'Imported value in 2003', 'Source', 'productcode'],
      dtype='object')

In [49]:
temp.head(20)

,Exporters,Imported value in 2001,Imported value in 2002,Imported value in 2003,Source,productcode
1,United States of America,86,59,53,Anguilla,160414
2,Netherlands Antilles,4,2,5,Anguilla,160414
3,France,1,1,2,Anguilla,160414
4,United Kingdom,0,0,1,Anguilla,160414
5,Barbados,1,0,0,Anguilla,160414
6,Canada,0,2,0,Anguilla,160414

In [61]:
del yf

In [51]:
yf.head(500)

,Exporters,Imported value in 2020,Imported value in 2021,Imported value in 2022,Imported value in 2023,Imported value in 2024,Source,productcode,Year,kind,insertdate,Imported value in 2013,Imported value in 2014,Imported value in 2015,Imported value in 2016,Imported value in 2017,Imported value in 2019
1,Italy,2319.0,2451.0,1165.0,3240.0,4211.0,Albania,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
2,Thailand,579.0,489.0,NaN,865.0,1324.0,Albania,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
3,Indonesia,0.0,NaN,NaN,226.0,225.0,Albania,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
4,Germany,0.0,NaN,NaN,256.0,NaN,Albania,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
5,Spain,0.0,NaN,NaN,271.0,NaN,Albania,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
1,Thailand,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,11707.0,9838.0,9387.0,9868.0,9181.0,NaN
2,Spain,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,2262.0,5170.0,6406.0,12520.0,9021.0,NaN
3,Tajikistan,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,391.0,850.0,981.0,1676.0,1410.0,NaN
4,Viet Nam,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,443.0,359.0,664.0,975.0,1256.0,NaN
5,Portugal,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,67.0,41.0,0.0,0.0,52.0,NaN
6,Seychelles,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,0.0,7.0,19.0,15.0,12.0,NaN
7,France,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,93.0,47.0,33.0,44.0,6.0,NaN
8,"Korea, Republic of",NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,19.0,22.0,10.0,11.0,2.0,NaN
9,Italy,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,0.0,0.0,0.0,0.0,1.0,NaN
10,China,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,0.0,0.0,0.0,149.0,0.0,NaN
11,Ecuador,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,343.0,58.0,1381.0,0.0,0.0,NaN
12,Ghana,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,0.0,13.0,1.0,0.0,0.0,NaN
13,Indonesia,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,0.0,0.0,67.0,0.0,0.0,NaN
14,Côte d'Ivoire,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,0.0,0.0,5.0,0.0,0.0,NaN
15,Mauritania,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,1.0,0.0,0.0,0.0,0.0,NaN
16,Morocco,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,0.0,8.0,0.0,0.0,0.0,NaN
17,Oman,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,41.0,0.0,0.0,0.0,0.0,NaN
18,Philippines,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,127.0,0.0,0.0,0.0,0.0,NaN
19,Senegal,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,0.0,20.0,0.0,0.0,0.0,NaN
20,Tunisia,NaN,NaN,NaN,NaN,NaN,Algeria,160414,2016,1,2025-07-05,6.0,58.0,0.0,61.0,0.0,NaN
1,China,0.0,0.0,0.0,1213.0,11119.0,American Samoa,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
2,Indonesia,398.0,0.0,0.0,0.0,0.0,American Samoa,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
3,Samoa,0.0,0.0,0.0,0.0,0.0,American Samoa,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
1,Spain,1794.0,1794.0,1964.0,1939.0,NaN,Andorra,160414,2022,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,1881.0
2,Portugal,2.0,3.0,2.0,4.0,NaN,Andorra,160414,2022,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,13.0
3,Egypt,0.0,NaN,1.0,NaN,NaN,Andorra,160414,2022,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,0.0
1,Thailand,1396.0,3577.0,5522.0,2874.0,2445.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
2,China,47.0,NaN,1607.0,2056.0,2294.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
3,Portugal,2604.0,1004.0,3199.0,1680.0,916.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
4,Brazil,77.0,188.0,142.0,212.0,141.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
5,Viet Nam,255.0,55.0,33.0,198.0,139.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
6,United Arab Emirates,190.0,68.0,11.0,30.0,61.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
7,India,0.0,NaN,50.0,NaN,55.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
8,Poland,0.0,NaN,NaN,NaN,23.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
9,France,0.0,NaN,27.0,NaN,3.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
10,United Kingdom,17.0,NaN,NaN,1.0,1.0,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
11,Belgium,9.0,1.0,NaN,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
12,Ecuador,89.0,296.0,273.0,530.0,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
13,Indonesia,386.0,NaN,43.0,21.0,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
14,Japan,0.0,NaN,1.0,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
15,Lebanon,0.0,NaN,51.0,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
16,"Macao, China",1.0,NaN,NaN,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
17,Morocco,0.0,NaN,26.0,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
18,Namibia,0.0,NaN,5.0,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
19,Singapore,0.0,NaN,41.0,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
20,South Africa,6.0,NaN,16.0,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
21,Spain,77.0,NaN,NaN,1.0,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN
22,United States of America,0.0,118.0,NaN,NaN,NaN,Angola,160414,2023,1,2025-07-05,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
temp.columns

Index(['Bilateral 8 digits', 'Exporters', 'Imported value in 2020',
       'Imported value in 2021', 'Imported value in 2022',
       'Imported value in 2023', 'Imported value in 2024'],
      dtype='object')

In [22]:
temp = all_tables[0]

In [25]:
temp.iloc[1:, 1:]

,Exporters,Imported value in 2020,Imported value in 2021,Imported value in 2022,Imported value in 2023,Imported value in 2024
1,Italy,2319,2451.0,1165.0,3240,4211.0
2,Thailand,579,489.0,NaN,865,1324.0
3,Indonesia,0,NaN,NaN,226,225.0
4,Germany,0,NaN,NaN,256,NaN
5,Spain,0,NaN,NaN,271,NaN

In [19]:
all_tables[0]

,Bilateral 8 digits,Exporters,Imported value in 2020,Imported value in 2021,Imported value in 2022,Imported value in 2023,Imported value in 2024
0,NaN,World,2898,2940.0,1165.0,4858,5760.0
1,NaN,Italy,2319,2451.0,1165.0,3240,4211.0
2,NaN,Thailand,579,489.0,NaN,865,1324.0
3,NaN,Indonesia,0,NaN,NaN,226,225.0
4,NaN,Germany,0,NaN,NaN,256,NaN
5,NaN,Spain,0,NaN,NaN,271,NaN

In [37]:
df.head()

1,Destination,Value_imported,Trade_balance,ShareinCounryImports,Quantity_imported,Quantity unit,Unit value (USD/unit),Growth5y_in_imported_value%,Growth5y_in_imported_quantity%,Growth1y_in_imported_value%,...,Export_share%,Partner_export_growth5y%,Average_distance,Concentration,Average tariff%,Source,productcode,Year,kind,insertdate
3,Czech Republic,33,33,100,4,Tons,8250,NaN,NaN,NaN,...,0.6,4,3753,0.18,0,Afghanistan,160414,2023,1,2024-11-13
4,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.5,1,11234,0.23,0.9,Afghanistan,160414,2023,1,2024-11-13
5,Italy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.1,7,5984,0.2,0,Afghanistan,160414,2023,1,2024-11-13
6,Spain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.3,6,8883,0.17,0,Afghanistan,160414,2023,1,2024-11-13
7,France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.8,3,5346,0.15,0,Afghanistan,160414,2023,1,2024-11-13

In [37]:
df.shape

(622185, 19)

In [38]:
df.drop_duplicates(subset=['Exporters', 'Importer', 'productcode'], inplace=True)

In [39]:
df.shape

(622185, 19)

In [41]:
connection_string = (
    'Driver=ODBC Driver 17 for SQL Server;'
    'Server=DESKTOP-7TRDV4C;'
    'Database=trademap;'
    'UID=sa;'
    'PWD=Aa@97019701;'
    'Trusted_Connection=no;'
)
connection_url = sa.engine.URL.create(
    "mssql+pyodbc", 
    query=dict(odbc_connect=connection_string)
)
engine = sa.create_engine(connection_url, fast_executemany=True)

# Deleting existing data in SQL Table:-


# upload the DataFrame
df.to_sql("total", engine, schema="dbo", if_exists="append", index=False)
df = pd.DataFrame()

In [26]:
all_videos_title = []
all_videos = []
all_videos =driver.find_element(By.CLASS_NAME,"radioSwitch")
for sl_video in range(2):
    print (sl_video)

0
1

In [27]:
waits.until(EC.element_to_be_clickable((By.CSS_SELECTOR, '#ctl00_PageContent_label_RadioButton_TradeType_Export'))).click()